.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1062px;
  width: 1062px;
  border-bottom: 2px solid var(--background-secondary-color);
}

.info h1 {
  color: var(--text-primary-color);
  text-align: center;
}

.info img {
  width: 150px;
  padding: 24px;
}

.info button {
  width: 150px;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-quaternary-color);
  border: none;
  text-decoration: underline;
}

.sections {
  display: flex;
  justify-content: space-between;
  width: 1062px;
  margin-top: 50px;
}
