@import "../../scss/variables";

.games {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$break1}, #{$break2} {
    width: 100%;
  }
  @media #{$break3} {
    width: 500px;
  }

  .headline {
    width: 100%;

    @media #{$break1} {
      text-align: center;
    }
    @media #{$break2} {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media #{$break3} {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h3 {
      color: var(--text-primary-color);

      @media #{$break1} {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
      }
      @media #{$break2} {
        width: calc(100vw - 8rem - 280px - 1.5rem);
      }
      @media #{$break3} {
        width: 40%;
      }
    }

    .from,
    .to {
      background-color: transparent;
      border-top: none;
      border-bottom: 2px solid var(--text-primary-color);
      border-left: none;
      border-right: none;
      padding: 0;
      color: var(--text-primary-color);
      height: 2rem;
      text-align: center;

      @media #{$break1} {
        width: 150px;
      }
      @media #{$break2}, #{$break3} {
        width: 140px;
        margin-left: 1.5rem;
      }
    }

    .from {
      @media #{$break1} {
        margin-right: 0.5rem;
      }
    }
    .to {
      @media #{$break1} {
        margin-left: 0.5rem;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    background-color: transparent;
    max-height: 300px;
    width: 100%;

    @media #{$break1} {
      margin: 2rem 0 0;
    }
    @media #{$break2} {
      margin: 3rem 0 0;
    }
    @media #{$break3} {
      overflow-y: scroll;
      margin: 60px 0 0;
    }
  }
}

.headline input::placeholder {
  color: var(--text-secondary-color);
  font-weight: bold;
  text-align: left;
  padding-left: 4px;
}

.headline input::-webkit-inner-spin-button {
  display: none;
}

.headline input::-webkit-calendar-picker-indicator {
  color: var(--text-primary-color);
  background-color: var(--text-secondary-color);
  border-radius: 8px;
  cursor: pointer;
}

.games ul::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.games ul::-webkit-scrollbar-button {
  display: none;
}

.games ul::-webkit-scrollbar-track {
  background-color: var(--background-secondary-color);
  border-radius: 8px;
}
.games ul::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 8px;
}
