@import "../../scss/variables";

.stats {
  display: flex;
  padding: 3rem;

  .player {
    min-width: max-content;
    border-right: 2px solid var(--text-secondary-color);
    padding-right: 48px;
    margin-right: 48px;
    padding-bottom: 8px;

    div {
      padding: 8px 0 8px;
      margin-left: 8px;
      color: var(--text-primary-color);
      font-weight: $medium;

      &:first-child {
        text-align: left;
        color: var(--text-secondary-color);
      }
    }
  }

  .values {
    overflow-x: scroll;

    ul {
      list-style: none;
      width: 90%;
      margin: 0;
      padding: 0 0 8px;

      li {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        padding: 8px 0 8px;

        &:first-child {
          color: var(--text-secondary-color);
          font-weight: $medium;
        }

        div {
          text-align: center;
          width: 90px;
        }

        p {
          text-align: center;
          width: 90px;
          margin: 0;
          color: var(--text-primary-color);
        }
      }
    }
  }
}

.values::-webkit-scrollbar {
  height: 10px;
}

.values::-webkit-scrollbar-button {
  display: none;
}

.values::-webkit-scrollbar-track {
  background-color: gray;
  border-radius: 8px;
}
.values::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 8px;
}
