.container {
  border: 2px var(--text-secondary-color) solid;
  border-radius: 24px;
  background-color: var(--background-primary-color);
  max-width: 1064px;
  margin: auto;
}

.info {
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
}

.info p {
  text-align: center;
  margin: 0;
}

.info h3 {
  text-align: center;
  margin: 0;
  font-size: 20px;
}

.team {
  display: flex;
  margin: 0 32px 0;
}

.team button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--text-secondary-color);
  cursor: pointer;
  width: 50%;
  margin: 8px 16px 0;
  padding: 0 0 8px;
  transition: border-bottom 0.3s;
  color: var(--text-secondary-color);
}

.team button img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.team button p {
  transition: font-weight 0.3s;
  transition: color 0.3s;
}

.team button:hover {
  border-bottom: 2px solid var(--text-primary-color);
}

.team button:hover p {
  color: var(--text-primary-color);
  font-weight: bold;
}

.team button:active,
.team button.active {
  border-bottom: 2px solid var(--text-primary-color);
}

.active p {
  color: var(--text-primary-color);
  font-weight: bold;
}
