.container {
  border: 2px var(--text-secondary-color) solid;
  border-radius: 24px;
  background-color: var(--background-primary-color);
  width: 500px;
  margin: auto;
  max-height: 550px;
}
.info {
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
  border-bottom: 2px var(--text-secondary-color) solid;
  padding-bottom: 2rem;
}

.info p {
  text-align: center;
  margin: 0;
}

.info h3 {
  text-align: center;
  margin: 0;
  font-size: 20px;
}

.headers {
  width: 100%;
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--text-secondary-color);
  margin-bottom: 16px;
}

.stats {
  overflow-y: scroll;
  max-width: inherit;
  max-height: 300px;
  color: var(--text-primary-color);
  margin-bottom: 16px;
}

.stats ul {
  list-style: none;
  width: 100%;
  margin: auto;
  padding: 0;
}

.stats::-webkit-scrollbar {
  width: 8px;
}

.stats::-webkit-scrollbar-button {
  display: none;
}

.stats::-webkit-scrollbar-track {
  background-color: gray;
  border-radius: 8px;
}
.stats::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 8px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 16px;
}

.list div {
  text-align: center;
}
