@import "../../scss/variables";

.list {
  list-style: none;
  width: 100%;
  margin: auto;
  padding: 0;

  .item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 16px;

    p {
      padding: 0;
      font-weight: $medium;

      @media #{$break1} {
        margin: 0 0 0 1.5rem;
      }
      @media #{$break2}, #{$break3} {
        margin: 0 0 0 4rem;
      }
    }

    div {
      text-align: center;
    }
  }
}
