@import "../../scss/variables";

.stats {
  display: flex;
  max-width: 1062px;
  background-color: var(--background-primary-color);
  margin: auto;

  @media #{$break1} {
    flex-direction: column;
  }
  @media #{$break2} {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  @media #{$break3} {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
  }

  .info {
    display: flex;

    img {
      @media #{$break1} {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 4rem;
        right: 1.5rem;
      }
      @media #{$break2}, #{$break3} {
        height: 4.75rem;
        width: 4.75rem;
      }
    }

    .headline {
      height: inherit;
      display: flex;

      @media #{$break1} {
        height: 4rem;
        width: 8rem;
        position: absolute;
        align-items: center;
        top: 4rem;
        left: 1.5rem;
      }
      @media #{$break2}, #{$break3} {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 5rem;
        margin-left: 1.5rem;
      }

      button {
        padding: 0;
        width: 150px;
        cursor: pointer;
        background-color: transparent;
        color: var(--text-quaternary-color);
        border: none;
        text-align: left;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
          color: var(--text-primary-color);
        }

        @media #{$break1} {
          display: none;
        }
      }

      .mobile-button {
        display: none;
        @media #{$break1} {
          display: block;
        }
      }

      h2 {
        margin: 0;

        @media #{$break1} {
          min-width: 10rem;
          margin-left: 0.5rem;
        }
      }
    }
  }

  .record {
    min-width: 11rem;
    display: flex;
    color: var(--text-primary-color);
    text-align: center;

    @media #{$break1} {
      position: absolute;
      top: 8.5rem;
      left: 1.5rem;
      justify-content: left;
      align-items: center;
      padding-bottom: 1rem;
    }

    @media #{$break2}, #{$break3} {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 6rem;
      padding-bottom: 0.5rem;
    }

    img {
      height: 32px;
      width: 43px;

      @media #{$break1} {
        margin-right: 0.5rem;
      }
    }

    p {
      @media #{$break1} {
        margin-right: 0.5rem;
      }
    }

    h3 {
      text-align: center;
    }
  }
}
