.stats {
  width: 100%;
  background-color: #08085e;
  margin: auto;
  padding-bottom: 40px;
  margin-bottom: 16px;
  color: white;
}

.record {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
