@import "../../scss/_variables.scss";

.header {
  max-width: 1440px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-primary-color);

  @media #{$break1} {
    margin: 0 1.5rem;
  }
  @media #{$break2} {
    margin: 0 4rem;
  }
  @media #{$break3} {
    margin: 0 5rem;
  }

  h2 {
    margin: 0 0 0 18rem;
    font-size: 28px;
    color: var(--text-secondary-color);

    @media #{$break1}, #{$break2} {
      display: none;
    }
  }

  .logo {
    img {
      height: 70px;
      width: 30px;
      border-radius: 8px;
    }
  }
}
