.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 0;
  margin-top: 16px;
  max-width: 1280px;
}

.nav li {
  margin: 0 16px 0;
  width: inherit;
  height: inherit;
  position: relative;
}

.nav a {
  position: absolute;
  text-decoration: none;
  background-color: var(--background-primary-color);
  color: var(--text-primary-color);
  padding: 8px 0 8px;
  width: inherit;
  text-align: center;
  font-size: 1.25rem;
  transition: border-bottom 0.3s;
  overflow: hidden;
  border-bottom: 1px solid var(--background-secondary-color);
}

.nav a:hover {
  border-bottom: 2px solid var(--text-primary-color);
}
.nav a:active,
.nav a.active {
  border-bottom: 2px solid var(--text-primary-color);
  font-weight: bold;
}
