.nav {
  background-color: var(--background-primary-color);
  max-width: 1440px;
  margin: 0 80px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-top: 16px;
    max-width: 1280px;

    li {
      max-width: 640px;
      width: inherit;
      height: inherit;
      position: relative;

      &:first-child {
        margin-right: 20px;
      }

      &:nth-child(2) {
        margin-left: 20px;
      }

      a {
        display: inline-block;
        position: absolute;
        text-decoration: none;
        background-color: var(--background-primary-color);
        color: var(--text-primary-color);
        padding: 8px 0 8px;
        width: inherit;
        text-align: center;
        font-size: 1.25rem;
        transition: border-bottom 0.3s;
        overflow: hidden;
        border-bottom: 2px solid rgb(83, 92, 164);

        &:hover {
          border-bottom: 2px solid var(--text-primary-color);
        }

        &.active,
        &:active {
          border-bottom: 2px solid var(--text-primary-color);
          font-weight: bold;
        }
      }
    }
  }
}
