@import "../../scss/_global-imports.scss";

.header {
  max-width: 1440px;
  height: 90px;
  display: flex;
  margin: 0 80px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-primary-color);

  h2 {
    margin: 0 0 0 280px;
    font-size: 32px;
    color: var(--text-secondary-color);
  }

  .logo {
    img {
      height: 70px;
      width: 30px;
      border-radius: 8px;
    }
  }
}
