@import "../../scss/variables";

.nav {
  background-color: var(--background-primary-color);
  max-width: 1440px;

  @media #{$break1} {
    margin: 0 1.5rem;
  }
  @media #{$break2} {
    margin: 0 4rem;
  }
  @media #{$break3} {
    margin: 0 5rem;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    max-width: 1280px;
    margin-top: 2rem;

    @media #{$break1} {
      margin-top: 1.5rem;
    }

    li {
      max-width: 640px;
      width: inherit;
      height: inherit;
      position: relative;

      &:first-child {
        @media #{$break1} {
          margin-right: 0.5rem;
        }
        @media #{$break2}, #{$break3} {
          margin-right: 20px;
        }
      }

      &:nth-child(2) {
        @media #{$break1} {
          margin-left: 0.5rem;
        }
        @media #{$break2}, #{$break3} {
          margin-left: 20px;
        }
      }

      a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        background-color: var(--background-primary-color);
        color: var(--text-primary-color);
        padding: 8px 0 8px;
        width: 100%;
        text-align: center;
        transition: border-bottom 0.3s;
        overflow: hidden;
        border-bottom: 2px solid rgb(83, 92, 164);

        &:hover {
          border-bottom: 2px solid var(--text-primary-color);
        }

        &.active,
        &:active {
          border-bottom: 2px solid var(--text-primary-color);
          font-weight: bold;
        }

        @media #{$break1} {
          font-size: 16px;
        }
        @media #{$break2} {
          font-size: 18px;
        }
        @media #{$break3} {
          font-size: 20px;
        }
      }
    }
  }
}
