.list {
  position: relative;
  background-color: var(--background-primary-color);
  border-radius: 24px;
  margin-bottom: 24px;
  border: 2px solid var(--text-primary-color);
}

.game {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
}
.date {
  margin: auto;
  text-align: center;
  padding: 0;
  max-width: min-content;
  color: var(--text-secondary-color);
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  color: var(--text-secondary-color);
}

.list button {
  padding: 4px;
  border-bottom: none;
  border-top: 1px dotted var(--text-primary-color);
  border-left: none;
  border-right: none;

  cursor: pointer;
  color: var(--text-secondary-color);
  background-color: transparent;
  width: 50%;
  /* box-shadow: 0 3px 3px 0 rgb(220, 212, 212); */
  transition: color 0.3s;
}

.list button:hover {
  color: var(--text-primary-color);
}
