.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1062px;
  margin: auto;
}

.welcome {
  text-align: left;
}

.welcome h2 {
  font-size: 40px;
  color: var(--text-primary-color);
  margin: 0;
}

.welcome h1 {
  color: var(--text-primary-color);
  font-size: 120px;
  margin: 0;
}

.welcome h1 span {
  color: var(--text-quaternary-color);
}

.drowing img {
  height: 350px;
  width: 440px;
  margin-top: 115px;
}
