.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1062px;
  margin: auto;
}

.welcome {
  text-align: left;
}

.welcome h2 {
  font-size: 40px;
  color: var(--text-primary-color);
  margin: 0;
}

.welcome h1 {
  color: var(--text-primary-color);
  font-size: 120px;
  margin: 0;
}

.welcome h1 span {
  color: var(--text-quaternary-color);
}

.drowing img {
  height: 350px;
  width: 440px;
  margin-top: 115px;
}

.season {
  background-color: transparent;
  border-radius: 8px;
  margin-top: 16px;
  color: var(--text-primary-color);
}
.season label {
  padding: 3px;
  margin-right: 8px;
}

.season input {
  margin: 2px;
  color: var(--text-primary-color);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--text-primary-color);
  font-weight: bold;
}

.season button {
  background-color: var(--background-primary-color);
  color: var(--text-tertiary-color);
  border: 1px solid var(--text-tertiary-color);
  margin-left: 16px;
  font-weight: bold;
  padding: 4px 16px 2px;
  border-radius: 16px;
  cursor: pointer;
}
