.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1062px;
  margin: auto;

  .welcome {
    text-align: left;

    h2 {
      margin: 0;
    }

    h1 {
      margin: 0;

      span {
        color: var(--text-quaternary-color);
      }
    }
  }

  .drowing {
    img {
      height: 350px;
      width: 440px;
      margin-top: 115px;
    }
  }
}
