.category {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  overflow: hidden;
}

.category div {
  text-align: center;
  width: 90px;
}

.stats {
}

.values {
  max-height: 500px;
  overflow: scroll;
}

.values ul {
  list-style: none;
  width: 90%;
  margin: 0;
  padding: 0;
}

.values ul li {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  padding: 8px 0 8px;
}

.values ul li div {
  text-align: center;
  width: 90px;
}
