.loading {
  font-weight: bold;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  color: var(--background-secondary-color);
  clip-path: inset(0 3ch 0 0);
  animation: load 1s steps(4) infinite;
}

@keyframes load {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
